/* Media Screen */

@media screen and (max-width: 1024px) {
  .container {
    width: auto;
  }
}
@media screen and (max-width: 412px) {
  .container {
    width: auto;
  }
}
@media screen and (max-width: 360px) {
  .container,
  body {
    width: auto;
  }
}

/* Picasso CSS */

.container {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif, monospace, serif;
}

body {
  background-color: #ece9da;
}

.photo-column img {
  /*  display: inline-block;
  position: relative; */
  width: 100%;
  /*  z-index: 100; */
  border-radius: 40px;
}

.bottom-photo img {
  width: 100%;
  height: 450px;
  border-radius: 40px;
  position: relative;
  top: -70px;
  z-index: 100;
}

#b1 {
  position: relative;
  z-index: 100;
  right: 5px;
  top: -6px;
}

#b2 {
  position: relative;
  top: 15px;
  z-index: 100;
}
#b3 {
  position: relative;
  left: 5px;
  top: 20px;
  z-index: 100;
}

/* Sign UP CSS  */
#signUp a {
  text-decoration: none;
  color: #124749;
  left: 350px;
  bottom: 300px;
  position: relative;
  font-size: 2em;
  font-weight: 900;
  font-family: sans-serif;
  z-index: 100;
}

/* Circle CSS */

.circle {
  background-color: #753820;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  bottom: 310px;
  left: 400px;
  position: relative;
  z-index: 100;
  opacity: 0.5;
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
}

/* Triangle CSS */

.triangle {
  bottom: 360px;
  left: 5px;
  position: relative;
  z-index: 100;
  opacity: 0.5;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 150px solid #c30c17;
}

/* Thank you CSS */

.thankyou {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*  position: relative; */
  text-align: center;
  background-image: url(/images/thankyou.jpg);
  font-weight: 600;
  font-family: sans-serif, monospace, serif;
  margin: 30px;
}

/* Form CSS */

.formIMG {
  background-image: url(/images/fire.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.form {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  margin: auto;
  margin-top: 160px;
  color: white;
  border: 3px white solid;
  border-radius: 20px;
}

.form label {
  font: 1em sans-serif;
  margin-left: 11px;
}

.form input {
  width: 150px;
  height: 30px;
  margin: 11px;
}

.form h1 {
  font: 2em sans-serif;
  color: white;
  text-align: center;
}

#submit {
  text-align: center;
  width: 80px;
  font: sans-serif;
  cursor: pointer;
}

#submit:hover {
  background-color: #fb7f17;
}
